@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-size: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #35004F;
}

::-webkit-scrollbar-thumb {
  background: #6B00A5;
  border-radius: 5px;
  border: 1px solid #35004F;
}

body {
  font-family: "Montserrat", sans-serif;
  background: url("./img/bg.jpg");
  background-size: 50px;
}

.sign {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
}

.sign__wrapper {
  width: 1216px;
  padding: 30px;
  background-color: #52057B;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.sign__title {
  font-weight: 700;
  font-size: 48px;
  color: #fff;
}
.sign__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sign__nav {
  border: 4px solid #BC6FF1;
  border-radius: 20px;
  width: 700px;
  height: 80px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sign__decor {
  position: absolute;
  width: 350px;
  height: 80px;
  border-radius: 20px;
  background: #BC6FF1;
  top: -4px;
  left: -4px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.sign__link-up, .sign__link-in {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-weight: 700;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 346px;
  height: 72px;
  color: #fff;
  z-index: 2;
}
.sign__link-up {
  color: #BC6FF1;
}
.sign__link-in {
  color: #52057B;
}
.sign__eye {
  display: none;
  position: absolute;
  right: 15px;
  top: 40%;
  font-size: 24px;
  color: #8E54B7;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sign__eye:hover {
  color: #fff;
}

.sign__label {
  width: 400px;
  height: 40px;
  border: 2px solid #BC6FF1;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sign__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.sign__box {
  cursor: pointer;
  width: 199px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 24px;
  color: #BC6FF1;
}

.sign__radio:checked + label {
  background: #BC6FF1;
  border-radius: 8px;
  color: #52057B;
}

.input {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  width: 500px;
  padding: 30px 25px;
  border: 4px solid #8E54B7;
  border-radius: 10px;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.input::-webkit-input-placeholder {
  color: #8E54B7;
  font-weight: 700;
  font-size: 24px;
}
.input::-moz-placeholder {
  color: #8E54B7;
  font-weight: 700;
  font-size: 24px;
}
.input:-ms-input-placeholder {
  color: #8E54B7;
  font-weight: 700;
  font-size: 24px;
}
.input::-ms-input-placeholder {
  color: #8E54B7;
  font-weight: 700;
  font-size: 24px;
}
.input::placeholder {
  color: #8E54B7;
  font-weight: 700;
  font-size: 24px;
}
.input:focus {
  border: 4px solid #C186EB;
}

.signup__decor {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.signup__link-up {
  color: #52057B;
}

.signup__link-in {
  color: #BC6FF1;
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  background-color: #110019;
  border: 4px solid #FFFFFF;
  border-radius: 20px;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.btn:hover {
  color: #52057B;
  background-color: #fff;
}

.password {
  padding-right: 40px;
}

.password__label {
  position: relative;
}

.container {
  width: 1216px;
  margin: 0 auto;
}

.header {
  background: #52057B;
  padding: 35px 0;
  height: 100px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
}
.header__link {
  font-weight: 700;
  font-size: 20px;
  color: #BC6FF1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header__selected {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 24px;
  color: #FFFFFF;
}

.main {
  margin: 40px 0;
}

.timetable__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.timetable__column {
  width: 186px;
  padding: 10px 0 20px;
  background: #52057B;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.timetable__title {
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.timetable__cell {
  background: #D394FF;
  border-radius: 20px;
  width: 186px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.timetable__time {
  font-weight: 700;
  font-size: 16px;
  color: #3B005A;
}
.timetable__text {
  font-weight: 700;
  font-size: 20px;
  color: #3B005A;
}

.train-material__container {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.train-material__cell {
  background: #66139F;
  border-radius: 20px;
  width: 1216px;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.train-material__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #BC6FF1;
}

.train-material__link {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.train-material__link::after {
  content: "";
  width: 0;
  height: 3px;
  display: block;
  background: white;
  -webkit-transition: 1s;
  transition: 1s;
}
.train-material__link:hover::after {
  width: 100%;
}

.train-material__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
}

.mini-btn {
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  background-color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.mini-btn:hover {
  background-color: #fff;
  color: #66139F;
}

.btn-cancel {
  border: 2px solid #FF4646;
  color: #FF4646;
}
.btn-cancel:hover {
  background-color: #FF4646;
  color: #fff;
}

.modal {
  display: none;
}
.modal__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__content {
  cursor: default;
  width: 840px;
  background: #52057B;
  border-radius: 40px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__title {
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
}
.modal__input {
  width: 800px;
}
.modal__icon {
  color: #8E54B7;
  font-size: 45px;
  position: absolute;
  right: 20px;
  top: 15px;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}
.modal__icon:hover {
  color: #fff;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__cell {
  width: 1216px;
  background: #52057B;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
}
.contact__title {
  width: 1156px;
  background: #BC6FF1;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #52057B;
  font-weight: 700;
  font-size: 24px;
  height: 45px;
}
.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact__text {
  width: 563px;
  height: 45px;
  background: #BC6FF1;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #52057B;
  font-weight: 700;
  font-size: 24px;
}
.contact__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.notification {
  font-size: 16px;
  background-color: gray;
  color: white;
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.profile__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.profile__box {
  background: #52057B;
  border-radius: 20px;
  width: 1216px;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.profile__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.profile__title {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.profile__input {
  width: 1156px;
}
.profile__new-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.profile__password {
  width: 563px;
}
.profile__group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.profile__group-text {
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}
.profile__person {
  background: #8E54B7;
  border-radius: 10px;
  width: 1156px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  overflow: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.profile__person-name {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.profile__person-status {
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}
.profile__person-btn {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 25px;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  background-color: transparent;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.profile__person-btn:hover {
  color: #52057B;
  background-color: #fff;
}
.profile__person-btn--disabled {
  cursor: default;
}
.profile__person-btn--disabled:hover {
  color: #fff;
  background-color: transparent;
}
.profile__person-btn--show {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.board__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.board__cell {
  padding: 20px 50px;
  width: 1216px;
  background: #66139F;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.board__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 2px solid #BC6FF1;
}
.board__title {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.board__date {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
.board__text {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  line-height: 24px;
}
.board__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.modal__btn {
  background-color: transparent;
}

.modal__textarea {
  width: 800px;
  height: 350px;
  resize: none;
}

.log__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.log__box {
  width: 1216px;
  background: #66139F;
  border-radius: 20px;
  padding: 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.log__title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  padding-bottom: 20px;
  border-bottom: 2px solid #BC6FF1;
}
.log__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 20px;
}
.log__link {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  -webkit-transition: all 1s;
  transition: all 1s;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.log__link:hover {
  background-color: #FFFFFF;
  color: #66139F;
}

.lesson__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.lesson__box {
  padding: 30px 10px;
  background: #66139F;
  border-radius: 20px;
  width: 1216px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.lesson__title {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #BC6FF1;
}
.lesson__package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.lesson__names {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.lesson__name {
  border-top: 1px solid #dadada;
  border-right: 1px solid #dadada;
  background: #D394FF;
  width: 300px;
  overflow: hidden;
  height: 30px;
  white-space: nowrap;
  padding: 6px 0 4px 10px;
  font-weight: 700;
  font-size: 16px;
  color: #2F0050;
}
.lesson__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 876px;
  overflow-x: auto;
}
.lesson__date {
  font-weight: 700;
  font-size: 14px;
  color: #2D004B;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  background: #D394FF;
  width: 50px;
  height: 50px;
}
.lesson__date path {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.lesson__date a:hover path {
  fill: white;
}
.lesson__cell {
  background: #D394FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  width: 50px;
  height: 30px;
  border-right: 1px solid #dadada;
  border-top: 1px solid #dadada;
  border-left: 1px solid #dadada;
}
.lesson__dear {
  color: #00337E;
}
.lesson__wasnt {
  color: #0B8A00;
}
.lesson__sick {
  color: #EC3F51;
}

.lessonedit__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1216px;
  padding: 30px 10px;
  background-color: #66139F;
  border-radius: 20px;
  margin: 100px 0;
}
.lessonedit__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lessonedit__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lessonedit__title {
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
}
.lessonedit__input {
  width: 150px;
  height: 50px;
  text-align: center;
}
.lessonedit__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.lessonedit__item {
  width: 1196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: 2px solid #BC6FF1;
  border-radius: 10px;
}
.lessonedit__name {
  height: 40px;
  width: 473px;
  overflow: hidden;
  white-space: nowrap;
  padding: 11px 20px;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}
.lessonedit__box {
  width: 180px;
  height: 40px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.lessonedit__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.lessonedit__radio:checked + label {
  background: #BC6FF1;
  border-radius: 8px;
  color: #2F0050;
}

.sign__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.sign__box {
  cursor: pointer;
  width: 199px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 24px;
  color: #BC6FF1;
}

.sign__radio:checked + label {
  background: #BC6FF1;
  border-radius: 8px;
  color: #52057B;
}