/* Общие стили для всех страниц */

@import "nullstyle.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  background: #110019;
}
.__container{
  width: 1280px;
  margin: 0 auto;
}
header{
  padding: 33px 0px;
  background: #52057B;
  margin: 0 0 40px 0;
}



.buttons{
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button__link{
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #BC6FF1;
  transition: color 1s;

}

.button__link:hover{
  color: #ffffff;
}


.active{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

/*-----------------------------------------------------------*/

/* Стили для главной страницы и для доски объявлений */

.noticeboard{
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 0 40px 0;
}


.noticeboard__add{
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  padding: 20px 30px;
  border: 4px solid #FFFFFF;
  border-radius: 20px;
}


.noticeboard__infoblock{
  width: 1280px;
  background: #66139F;
  border-radius: 20px;
  padding: 20px 50px;
}

.noticeboard__infoblock-header{
  padding: 10px 0 20px 0;
  color: #000000;
  border-bottom: 2px solid #BC6FF1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.noticeboard__infoblock-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.noticeboard__infoblock-date{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}


.noticeboard__infoblock-text{
  padding: 25px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.noticeboard__infoblock-buttons{
  display: flex;
  gap: 20px;
}
.noticeboard__infoblock-button{
  padding: 10px 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  border-radius: 20px;
}

.edit{
  border: 2px solid #FFFFFF;
  color: #ffffff;
}

.delete{
  color: #FF4646;
  border: 2px solid #FF4646;
}

/*--------------------------------------------*/

